/* Общие */
body {
	background-color: #fff;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.container {
	width: 1440px;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	background-color: white;
}

/* Header */
.header__logo {
	margin-left: 170px;
	margin-top: 15px;
}

.nav {
	width: 1440px;
	max-width: 100%;
	margin-top: 26px;
	margin-bottom: 26px;
	display: flex;
	justify-content: space-between;
}

.header__nav {
	margin-left: 64px;
}

.nav__link {
	margin-right: 40px;
	text-decoration: none;
	color: #000;

	font-size: 15px;
}

.nav__link:hover {
	text-decoration: underline;
}

.nav__button {
	display: block;
	width: 152px;
	height: 40px;
	margin-right: 170px;

	border-radius: 12px;
	background-color: #3d55f9;

	color: #fff;
	font-size: 16px;
	text-decoration: none;

	text-align: center;
	line-height: 40px;
}

/* Intro */

.intro {
	display: flex;
	margin-top: 15px;
	margin-bottom: 234px;
}

.intro__text {
	display: flex;
	flex-direction: column;
	margin-left: 170px;
	margin-top: 110px;
	width: 500px;

	position: absolute;
	z-index: 2;
}

.intro__title {
	margin-bottom: 81px;

	font-size: 43px;
	font-weight: normal;
	line-height: 50px;
}

.intro__content {
	width: 450px;

	font-size: 18px;
	line-height: 32px;
}

.intro__submit {
	width: 500px;
	background: #ffffff;
	border: 2px solid #ffffff;
	box-sizing: border-box;
	box-shadow: 0px 8px 24px rgba(7, 19, 48, 0.06);
	border-radius: 20px;

	margin-bottom: 234px;
}

.intro__photo {
	width: 600px;
	height: auto;
	margin-right: 220px;

	position: relative;
	left: 620px;
	z-index: 1;
}

.intro__button {
	width: 172px;

	padding: 19px 30px;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-right: 12px;
	background: #3d55f9;
	border: 0px;
	border-radius: 12px;

	color: #fff;
	font-size: 16px;
	font-weight: 700px;

	box-sizing: border-box;
}

.intro__form {
	display: flex;
	justify-content: space-between;
}

.intro__input {
	border: 0px;

	height: auto;
	margin-left: 32px;
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
}

input[type="email"]::-webkit-input-placeholder {
	color: #000;
	font-weight: 700;
	font-size: 17px;
}

.intro__input:focus {
	outline: none;
}

.intro__button:focus {
	border: 2px solid white;
}

.test {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 420px;
}

.test__photo {
	width: 270px;
	height: auto;
}

.test__content {
	width: 463px;
}

.test__social {
	font-size: 16px;
	line-height: 20px;
	color: #3d55f9;
}

.test__title {
	font-size: 40px;
	font-weight: 400;
	line-height: 47px;
	color: #071330;
}

.test__text1,
.test__text2 {
	font-size: 18px;
	line-height: 32px;
	color: #071330;
}

.test__text1 {
	margin-bottom: 32px;
}

.discover {
	width: 1090px;
	margin: 0 auto;
	margin-bottom: 188px;
}

.discover__tittle {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 66px;
}

.discover__h2 {
	text-align: center;
	font-size: 40px;
	line-height: 47px;
	font-weight: 400;
}

.discover__field {
	display: flex;
	justify-content: space-between;
}
.discover__text {
	width: 535px;
}
.discover__number {
	display: flex;
	align-items: center;

	width: 56px;
	height: 56px;

	margin-bottom: 24px;

	background: #3d55f9;
	box-shadow: 16px 16px 32px rgba(7, 19, 48, 0.08);
	border-radius: 50%;

	font-size: 20px;
	line-height: 32px;
	color: #ffffff;
}
.discover__number p {
	margin: 0 auto;
}
.discover__h {
	margin-bottom: 23px;

	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
	color: #071330;
}
.discover__p {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	color: rgba(7, 19, 48, 0.6);
}
/* .discover__img {
} */

/* .stop {
} */
.stop__title {
	margin: 0 auto;
	margin-bottom: 88px;
	width: 693px;

	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 56px;

	text-align: center;

	color: #f0bca3;
}
.stop__dr {
	width: 400px;

	margin: 0 auto;
	margin-bottom: 150px;

	display: flex;
	justify-content: center;
}

.stop__dr p {
	margin-left: 22px;

	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;

	color: rgba(7, 19, 48, 0.6);
	text-align: center;
}

.stop__content {
	width: 975px;

	margin: 0 auto;
}

.stop__field {
	width: 975px;

	display: flex;
	justify-content: space-between;

	margin-bottom: 200px;
}

.stop__text {
	width: 470px;
}
.stop__hblue {
	margin-bottom: 15px;
	margin-top: 97px;

	font-size: 16px;
	line-height: 20px;

	color: #3d55f9;
}
.stop__h {
	margin-bottom: 39px;

	font-size: 40px;
	line-height: 47px;

	color: #071330;
}
.stop__p {
	margin-bottom: 31px;

	font-size: 18px;
	line-height: 32px;

	color: #071330;
}

.small {
	width: 429px;

	font-size: 12px;
	line-height: 32px;

	color: #071330;
}
.stop__list {
	padding: 0;
	list-style: none;
	margin-bottom: 210px;
}

.stop__list li:nth-child(1):before {
	content: url("../img/stop_vimg1.svg");
	vertical-align: middle;
	padding-right: 25px;
}

.stop__list li:nth-child(2):before {
	content: url("../img/stop_vimg2.svg");
	vertical-align: middle;
	padding-right: 25px;
}

.about-remmy {
	width: 1110px;
	margin: 0 auto;
	margin-bottom: 240px;
}
.about-remmy__title-small {
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #3d55f9;

	margin-bottom: 20px;
}

.about-remmy__title {
	font-size: 40px;
	line-height: 47px;
	text-align: center;
	color: #071330;

	margin: 0 auto;
	margin-bottom: 33px;

	width: 470px;
}
.about-remmy__subtitle {
	font-size: 12px;
	line-height: 32px;
	text-align: center;
	color: #071330;

	margin: 0 auto;
	margin-bottom: 112px;

	width: 490px;
}

.about-remmy__content {
	display: flex;
	justify-content: space-between;
}
/* .about-remmy__img {
} */
.about-remmy__advice {
	width: 440px;
	margin: auto 0;
}

.about-remmy__icon {
	margin-bottom: 24px;
}
.about-remmy__h3 {
	font-size: 20px;
	line-height: 32px;
	color: #071330;

	margin-bottom: 23px;
}
.about-remmy__p {
	font-size: 18px;
	line-height: 32px;
	color: #071330;
	margin-bottom: 72px;
}

.about-remmy__p:last-child {
	margin-bottom: 0;
}

.conditions {
	width: 1100px;
	margin: 0 auto;
	margin-bottom: 158.5px;
}

.conditions__title_small {
	font-size: 16px;
	line-height: 20px;

	text-align: center;

	color: #3d55f9;

	margin-bottom: 15px;
}

.conditions__title {
	font-size: 40px;
	line-height: 47px;

	text-align: center;

	color: #071330;

	margin-bottom: 31px;
}

.conditions__text {
	font-size: 18px;
	line-height: 32px;

	text-align: center;

	color: #071330;

	margin-bottom: 120px;
}

.conditions__grid {
	display: grid;
	grid-template-columns: repeat(6, 158px);
	grid-gap: 30px;
}

.conditions__feild {
	height: 104px;

	border-radius: 12px;

	position: relative;
}

.conditions__feild:before {
	content: url(../img/conditions_plus.svg);
	position: absolute;
	left: 18px;
	top: 20px;
	height: 24px;
	width: 24px;
	z-index: 2;
}

.contditions__field-text {
	position: absolute;
	height: 19px;
	left: 13px;
	top: 74px;

	font-size: 16px;
	line-height: 19px;

	color: #071330;
}

.one {
	background: rgba(127, 221, 240, 0.1);
}

.conditions__feild:nth-child(1):after {
	content: "";
	position: absolute;
	left: 13px;
	top: 16px;
	height: 24px;
	width: 24px;
	box-shadow: 0px 12.5714px 24px rgba(127, 221, 240, 0.2);
	border-radius: 12px;
	z-index: 1;
	background: #7fddf0;
}

.two {
	background: rgba(95, 174, 236, 0.1);
}
.conditions__feild:nth-child(2):after {
	content: "";
	position: absolute;
	left: 13px;
	top: 16px;
	height: 24px;
	width: 24px;
	box-shadow: 0px 12.5714px 24px rgba(127, 221, 240, 0.2);
	border-radius: 12px;
	z-index: 1;
	background: #5faeec;
}
.three {
	background: rgba(155, 120, 253, 0.08);
}
.conditions__feild:nth-child(3):after {
	content: "";
	position: absolute;
	left: 13px;
	top: 16px;
	height: 24px;
	width: 24px;
	box-shadow: 0px 12.5714px 24px rgba(127, 221, 240, 0.2);
	border-radius: 12px;
	z-index: 1;
	background: #9b78fd;
}

.four {
	background: rgba(239, 156, 208, 0.1);
}
.conditions__feild:nth-child(4):after {
	content: "";
	position: absolute;
	left: 13px;
	top: 16px;
	height: 24px;
	width: 24px;
	box-shadow: 0px 12.5714px 24px rgba(127, 221, 240, 0.2);
	border-radius: 12px;
	z-index: 1;
	background: #ef9cd0;
}

.five {
	background: rgba(246, 132, 94, 0.1);
}
.conditions__feild:nth-child(5):after {
	content: "";
	position: absolute;
	left: 13px;
	top: 16px;
	height: 24px;
	width: 24px;
	box-shadow: 0px 12.5714px 24px rgba(127, 221, 240, 0.2);
	border-radius: 12px;
	z-index: 1;
	background: #f6845e;
}
.six {
	background: rgba(249, 182, 94, 0.1);
}
.conditions__feild:nth-child(6):after {
	content: "";
	position: absolute;
	left: 13px;
	top: 16px;
	height: 24px;
	width: 24px;
	box-shadow: 0px 12.5714px 24px rgba(127, 221, 240, 0.2);
	border-radius: 12px;
	z-index: 1;
	background: #f9b65e;
}
.seven {
	background: rgba(255, 221, 87, 0.1);
}
.conditions__feild:nth-child(7):after {
	content: "";
	position: absolute;
	left: 13px;
	top: 16px;
	height: 24px;
	width: 24px;
	box-shadow: 0px 12.5714px 24px rgba(127, 221, 240, 0.2);
	border-radius: 12px;
	z-index: 1;
	background: #ffdd57;
}
.eight {
	background: rgba(171, 224, 80, 0.1);
}
.conditions__feild:nth-child(8):after {
	content: "";
	position: absolute;
	left: 13px;
	top: 16px;
	height: 24px;
	width: 24px;
	box-shadow: 0px 12.5714px 24px rgba(127, 221, 240, 0.2);
	border-radius: 12px;
	z-index: 1;
	background: #abe050;
}
.nine {
	background: rgba(123, 207, 166, 0.1);
}
.conditions__feild:nth-child(9):after {
	content: "";
	position: absolute;
	left: 13px;
	top: 16px;
	height: 24px;
	width: 24px;
	box-shadow: 0px 12.5714px 24px rgba(127, 221, 240, 0.2);
	border-radius: 12px;
	z-index: 1;
	background: #7bcfa6;
}
.ten {
	grid-column-start: 4;
	grid-column-end: 7;

	background: #f7f8fc;
}
.conditions__feild:nth-child(10):after {
	content: "";
	position: absolute;
	left: 13px;
	top: 16px;
	height: 24px;
	width: 24px;
	box-shadow: 0px 12.5714px 24px rgba(127, 221, 240, 0.2);
	border-radius: 12px;
	z-index: 1;
	background: #b5b8c1;
}

.footer {
	width: 1100px;
	margin: 0 auto;
	margin-bottom: 83px;
}
.footer__line {
	width: 1100px;
	height: 1px;
	background: rgba(7, 19, 48, 0.05);
	margin-bottom: 83.5px;
}
.footer__content {
	display: flex;
	justify-content: space-between;
}

.footer__copyright {
	font-size: 12px;
	line-height: 14px;

	color: rgba(7, 19, 48, 0.5);
}

.footer__copyright p {
	margin: 0;
}

.footer__link {
}

.footer__link a {
	margin-left: 40px;

	text-decoration: none;

	font-size: 15px;
	line-height: 18px;

	color: rgba(7, 19, 48, 1);
	opacity: 0.5;

	transition: opacity 0.1s linear;
}

.footer__link a:hover {
	opacity: 0.8;
}
