/* Общие */
body {
	background-color: #fff;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.container {
	width: 1440px;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	background-color: white;
}

/* Header */
.header__logo {
	margin-left: 170px;
	margin-top: 15px;
}

.nav {
	width: 1440px;
	max-width: 100%;
	margin-top: 26px;
	margin-bottom: 26px;
	display: flex;
	justify-content: space-between;
}

.header__nav {
	margin-left: 64px;
}

.nav__link {
	margin-right: 40px;
	text-decoration: none;
	color: #000;

	font-size: 15px;
}

.nav__link:hover {
	text-decoration: underline;
}

.nav__button {
	width: 152px;
	margin-right: 170px;
	padding: 10px 20px;

	border-radius: 12px;
	background-color: #3d55f9;

	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

/* Intro */

.intro {
	display: flex;
	margin-top: 15px;
}

.intro__text {
	display: flex;
	flex-direction: column;
	margin-left: 170px;
	margin-top: 110px;
}

.intro__title {
	margin-bottom: 81px;

	font-size: 43px;
	font-weight: normal;
	line-height: 50px;
}

.intro__content {
	font-size: 18px;
	line-height: 32px;
}

.intro__photo {
	width: 600px;
	height: auto;
	margin-right: 220px;
}
