@import "_header";

h1 {
	color: green;
}

body {
	font-size: 20px;
	div {
		font-size: 10px;
	}
	p {
		font-size: 25px;
	}
}

@import .intro .intro__ara .intro__ .intro {
}
.intro__ara {
}
.intro__ {
}

.red {
	color: red;
}
